<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       href="#"
       role="button"
       data-bs-toggle="dropdown">

        🌐 {{ lang.upper() }}
    </a>

    <ul class="dropdown-menu dropdown-menu-end">

        <li>
            <a class="dropdown-item"
               href="/change-language/en">
               English
            </a>
        </li>

        <li>
            <a class="dropdown-item"
               href="/change-language/hi">
               हिन्दी
            </a>
        </li>

        <li>
            <a class="dropdown-item"
               href="/change-language/mr">
               मराठी
            </a>
        </li>

    </ul>
</li>